<div class="all-title"><p class="home-title">ようこそ </p>  <p class="home-title">  H2Sの日本語ページに </p><p class="home-title">いらっしゃいます<p></div>
<div class="container-fluid introduce d-flex justify-content-center flex-wrap">

    <div class="p-2 card" style="width: 30%;">
    <div class="card-body">
    <h5 class="card-title">Tra từ điển</h5>
    <p class="card-text">Bạn có thể tra từ điển bằng chữ hiragana, katakana, kanji, chữ Romaji và bằng cả tiếng anh nữa!!</p>
    <a href="/dict" class="card-link try-button">Dùng thử nào!</a>
    </div>
    </div>

    <div class="p-2 card" style="width: 30%;">
    <div class="card-body">
    <h5 class="card-title">Bảng chữ cái</h5>
    <p class="card-text">Nếu bạn là nguười đang có ý định, hoặc đang bắt đầu học tiếng Nhật, thì hãy cố gắng học tốt từ bảng chữ cái nhé :))</p>
    <% if user_signed_in? %>
    <a href="/hiraganas" class="card-link try-button">Dùng thử nào!</a>
    <% else %>
    <a href='/users/sign_in' class="card-link try-button">Dùng thử nào!</a>
    <% end %>
    </div>
    </div>

    <div class="p-2 card" style="width: 30%;">
    <div class="card-body">
    <h5 class="card-title">Flashcash</h5>
    <p class="card-text">Bạn đang lo lắng làm thế nào để học thuôc từ mới thật nhanh ư?? Hãy để flashcash của chúng tôi giúp bạn!</p>
    <% if user_signed_in? %>
    <a href="/dict" class="card-link try-button">Dùng thử nào!</a>
    <% else %>
    <a href='/users/sign_in' class="card-link try-button">Dùng thử nào!</a>
    <% end %>
    </div>
    </div>
    <div class="p-2 card" style="width: 30%;">
    <div class="card-body">
    <h5 class="card-title">Đọc truyện</h5>
    <p class="card-text">Nếu chỉ học đơn thuàn kiến thức trên sách vở thì sẽ thật là chán đúng không nào? Vừa đọc truyện vừa học tiếng Nhật với chúng tớ nào!!</p>
    <% if user_signed_in? %>
    <a href="/stories" class="card-link try-button">Dùng thử nào!</a>
    <% else %>
    <a href='/users/sign_in' class="card-link try-button">Dùng thử nào!</a>
    <% end %>
    </div>
    </div>

    <div class="p-2 card" style="width: 30%;">
    <div class="card-body">
    <h5 class="card-title">Phương pháp học</h5>
    <p class="card-text">Bạn có thể sử dụng chức năng này để giao lưu, học hỏi, chia sẻ kinh nghiệm của bản thân hoặc tiếp thu những chia sẻ từ người khác. Thật tuyệt phải không nào !</p>
    <a href="/posts" class="card-link try-button">Dùng thử nào!</a>
    </div>
    </div>

    
</div>