<div class="col-lg-4 "> 
  <div class="set_card">
    <span class="title">
        <%= set_card.title %>
    </span>
    <div class="trash_icon">
        <%= link_to 'xóa', method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>