<div class="container">
    <h1>Tạo bộ thẻ </h1>
    <%= render 'form', set_card: @set_card %>
    <%= link_to 'Back', :back %>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">