<div class="col-lg-2 card-hira"> 
  <div class="cach_viet">
    <%= hiragana.cachviet %>
  </div>
  <div class="cach_doc">
    <%= hiragana.cachdoc %>
  </div>
  <%# <%= link_to 'tao_test', hiragana %> 
  <%# <%= link_to 'xóa', method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>
