<p id="notice"><%= notice %></p>
<h2>HIRAGANA aaaaa</h2>
<%= link_to "Học bằng flashcash", tests_path, class:"alpha-flash" %>
<div class="container card_index">
  <div class="row">
    <% @hiraganas.each do |hiragana| %>
      <%= render 'card', hiragana: hiragana  %>
    <% end %>
  </div>
</div>
<p class="back-button"><i class="fas fa-backward"></i><%= link_to "Back", :back %></p>

