<div id="story">
<p class="st-title"><%= @stories.title %></p>
<p class="st-content"><%= @stories.content %></p>
<button type="button" class="btn btn-primary read-more-btn">Xem bản dịch</button>

<hr>
<div class="translate-part">
<p>Translate: </p>
<p><%= @stories.translate %></p>
</div>
</div>
<p class="back-button"><i class="fas fa-backward"></i><%= link_to "Back", :back %></p>

<script>
    $(".read-more-btn").on("click", displayTrans);
    function displayTrans(){
        $(".translate-part").show();
        $(".read-more-btn").on("click", function(){
            $(".translate-part").hide();
            $(".read-more-btn").on("click", displayTrans);
        })
    }
</script>