<div class="postform" >
    <div style="background-color:#e6f2ff;height:7px;"> </div>
    <br>
    <h1>New Post</h1>
    <p style="text-align:center;">------------------------------------------------------------------------------------------------------------------------</p>
    <%= render 'form', post: @post %>
    <div style="padding-bottom:60px;"> </div>

</div>