
<div class="footer d-flex justify-content-around align-items-center">
    <div class="p-2">
        <p><i class="fas fa-copyright"></i> Application made by: Dung, Hiếu, Phương Anh</p>
    </div>

    <div class="p-2">
        <p><i class="fas fa-school"></i> Trường Đại học Bách Khoa Hà Nội</p>
        <p>Viện Công Nghệ Thông Tin Và Truyền Thông</p>
    </div>
</div>
